.fonter {
  width: 7.5rem;
  height: 1.3rem;
  position: fixed;
  bottom: 0px;
  background: white;
  z-index: 20;
}

.fonter ul {
  width: 7.5rem;
  height: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.fonter ul li {
  width: 18%;
  height: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fonter ul li a {
  font-size: 0.4rem;
  text-decoration: none;
  color: black;
}

.fonter ul li i {
  font-size: 0.8rem;
  color: red;
}
